---
import Image from "astro/components/Image.astro";
---

<section class="mt-8 min-w-full" >
  <Image
    src="/WorldMap.webp"
    alt="An image of a world map"
    width= {100}
    height= {50}
    class="min-w-full"
  />
</section>