---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='EliteHosting | Inicio'
  description='EliteHosting es una empresa de alojamiento web que ofrece servicios de alta calidad a precios accesibles.'
  >
  <main class="grid place-content-center w-full h-full text-center">
    <div class="bg-yellow-700 px-12 py-32 border-black border-8">
      <h1 class="text-6xl font-black text-black text-center">EliteHosting</h1>
      <br>
      <p>
        Próximamente, tu empresa que nunca buscaste pero siempre necesitaste. 🥸
      </p>
    </div>
  </main>
</Layout>