---
import Layout from '../layouts/Layout.astro'
import { MainSlider } from '../components/sections/MainSlider.tsx'
import WhyUs from '../components/sections/WhyUs.astro'
import Plans from '../components/sections/Plans.astro'
import Map from '../components/sections/Map.astro'
---

<Layout
  title='EliteHosting | Inicio'
  description='EliteHosting es una empresa de alojamiento web que ofrece servicios de alta calidad a precios accesibles.'
  >
  <main class=" min-h-screen w-full ">
    <MainSlider client:load />
    <WhyUs />
    <Plans />
    <Map />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
