---
import Layout from '../layouts/Layout.astro'
import MainSlider from '../components/MainSlider.tsx'
---

<Layout
  title='EliteHosting | Inicio'
  description='EliteHosting es una empresa de alojamiento web que ofrece servicios de alta calidad a precios accesibles.'
  >
  <main class="grid place-content-center w-full h-screen text-center">
    <MainSlider client:load />
  </main>
</Layout>


<style>
  main {
    scrollbar-width: thin;
    scrollbar-color: #003346 #051937;
  }
</style>

