---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string;
  description: string;
}

const { title, description } : Props = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
    <link rel="icon" href="/EliteHosting.png">
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head> 
  <body>
    <Header/>
    <slot/>
    <Footer/>
  </body>
</html>

<style>
  body {
    background-image: linear-gradient(to bottom, #174a4a, #003f49, #003346, #002641, #051937);
    scrollbar-width: thin;
    scrollbar-color: #003346 #051937;
  }
</style>
